// Navbar Marketplace
// Remove "navbar-sticky" class to make navigation bar scrollable with the page.
header.bg-light.shadow-sm.navbar-sticky
    .navbar.navbar-expand-lg.navbar-light
        .container
            a.navbar-brand.d-none.d-sm-block.flex-shrink-0.me-4.order-lg-1(href='index.html')
                img(src='/assets/theme/img/comm_logo_transparent.png' width='122' alt='Commercio')
            // Toolbar
            .navbar-toolbar.d-flex.align-items-center.order-lg-3
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse')
                    span.navbar-toggler-icon
                a.navbar-tool.d-none.d-lg-flex(href='javascript:void(0)' data-bs-toggle='collapse' data-bs-target='#searchBox' role='button' aria-expanded='false' aria-controls='searchBox')
                    span.navbar-tool-tooltip Search
                    .navbar-tool-icon-box
                        i.navbar-tool-icon.ci-search
                a.navbar-tool.d-none.d-lg-flex(href='dashboard-favorites.html')
                    span.navbar-tool-tooltip Favorites
                    .navbar-tool-icon-box
                        i.navbar-tool-icon.ci-heart
                .navbar-tool.dropdown.ms-2
                    a.navbar-tool-icon-box.border.dropdown-toggle(href='dashboard-sales.html')
                        img(src='/assets/theme/img/marketplace/account/avatar-sm.png' width='32' alt='Createx Studio')
                    a.navbar-tool-text.ms-n1(href='dashboard-sales.html')
                        small Createx Std.
                        | $1,375.00
                    .dropdown-menu.dropdown-menu-end
                        div(style='min-width: 14rem;')
                            h6.dropdown-header Account
                            a.dropdown-item.d-flex.align-items-center(href='dashboard-settings.html')
                                i.ci-settings.opacity-60.me-2
                                | Settings
                            a.dropdown-item.d-flex.align-items-center(href='dashboard-purchases.html')
                                i.ci-basket.opacity-60.me-2
                                | Purchases
                            a.dropdown-item.d-flex.align-items-center(href='dashboard-favorites.html')
                                i.ci-heart.opacity-60.me-2
                                | Favorites
                                span.fs-xs.text-muted.ms-auto 4
                            .dropdown-divider
                            h6.dropdown-header Seller Dashboard
                            a.dropdown-item.d-flex.align-items-center(href='dashboard-sales.html')
                                i.ci-dollar.opacity-60.me-2
                                | Sales
                                span.fs-xs.text-muted.ms-auto $1,375.00
                            a.dropdown-item.d-flex.align-items-center(href='dashboard-products.html')
                                i.ci-package.opacity-60.me-2
                                | Products
                                span.fs-xs.text-muted.ms-auto 5
                            a.dropdown-item.d-flex.align-items-center(href='dashboard-add-new-product.html')
                                i.ci-cloud-upload.opacity-60.me-2
                                | Add New Product
                            a.dropdown-item.d-flex.align-items-center(href='dashboard-payouts.html')
                                i.ci-currency-exchange.opacity-60.me-2
                                | Payouts
                            .dropdown-divider
                            a.dropdown-item.d-flex.align-items-center(href='account-signin.html')
                                i.ci-sign-out.opacity-60.me-2
                                | Sign Out
            #navbarCollapse.collapse.navbar-collapse.me-auto.order-lg-2
                // Search
                .input-group.d-lg-none.my-3
                    i.ci-search.position-absolute.top-50.start-0.translate-middle-y.text-muted.fs-base.ms-3
                    input.form-control.rounded-start(type='text' placeholder='Search marketplace')
                // Categories dropdown
                ul.navbar-nav.navbar-mega-nav.pe-lg-2.me-lg-2
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle.ps-lg-0(href='#' data-bs-toggle='dropdown')
                            i.ci-menu.align-middle.mt-n1.me-2
                            | Categories
                        ul.dropdown-menu.py-1
                            li.dropdown
                                a.dropdown-item.dropdown-toggle(href='#' data-bs-toggle='dropdown') Photos
                                ul.dropdown-menu
                                    li.dropdown-item.product-title.fw-medium
                                        a(href='marketplace-category.html')
                                            | All Photos
                                            i.ci-arrow-right.fs-xs.ms-1
                                    li.dropdown-divider
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Abstract
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Animals
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Architecture
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Beauty &amp; Fashion
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Business
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Education
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Food &amp; Drink
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Holidays
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Industrial
                                    li
                                        a.dropdown-item(href='marketplace-category.html') People
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Sports
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Technology
                            li.dropdown
                                a.dropdown-item.dropdown-toggle(href='#' data-bs-toggle='dropdown') Graphics
                                ul.dropdown-menu
                                    li.dropdown-item.product-title.fw-medium
                                        a(href='#')
                                            | All Graphics
                                            i.ci-arrow-right.fs-xs.ms-1
                                    li.dropdown-divider
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Icons
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Illustartions
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Patterns
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Textures
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Web Elements
                            li.dropdown
                                a.dropdown-item.dropdown-toggle(href='#' data-bs-toggle='dropdown') UI Design
                                ul.dropdown-menu
                                    li.dropdown-item.product-title.fw-medium
                                        a(href='marketplace-category.html')
                                            | All UI Design
                                            i.ci-arrow-right.fs-xs.ms-1
                                    li.dropdown-divider
                                    li
                                        a.dropdown-item(href='marketplace-category.html') PSD Templates
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Sketch Templates
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Adobe XD Templates
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Figma Templates
                            li.dropdown
                                a.dropdown-item.dropdown-toggle(href='#' data-bs-toggle='dropdown') Web Themes
                                ul.dropdown-menu
                                    li.dropdown-item.product-title.fw-medium
                                        a(href='marketplace-category.html')
                                            | All Web Themes
                                            i.ci-arrow-right.fs-xs.ms-1
                                    li.dropdown-divider
                                    li
                                        a.dropdown-item(href='marketplace-category.html') WordPress Themes
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Bootstrap Themes
                                    li
                                        a.dropdown-item(href='marketplace-category.html') eCommerce Templates
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Muse Templates
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Plugins
                            li.dropdown
                                a.dropdown-item.dropdown-toggle(href='#' data-bs-toggle='dropdown') Fonts
                                ul.dropdown-menu
                                    li.dropdown-item.product-title.fw-medium
                                        a(href='marketplace-category.html')
                                            | All Fonts
                                            i.ci-arrow-right.fs-xs.ms-1
                                    li.dropdown-divider
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Blackletter
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Display
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Non Western
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Sans Serif
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Script
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Serif
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Slab Serif
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Symbols
                            li.dropdown
                                a.dropdown-item.dropdown-toggle(href='#' data-bs-toggle='dropdown') Add-Ons
                                ul.dropdown-menu
                                    li.dropdown-item.product-title.fw-medium
                                        a(href='marketplace-category.html')
                                            | All Add-Ons
                                            i.ci-arrow-right.fs-xs.ms-1
                                    li.dropdown-divider
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Photoshop Add-Ons
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Illustrator Add-Ons
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Sketch Plugins
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Procreate Brushes
                                    li
                                        a.dropdown-item(href='marketplace-category.html') InDesign Palettes
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Lightroom Presets
                                    li
                                        a.dropdown-item(href='marketplace-category.html') Other Software
    // Search collapse
    #searchBox.search-box.collapse
        .card.pt-2.pb-4.border-0.rounded-0
            .container
                .input-group
                    i.ci-search.position-absolute.top-50.start-0.translate-middle-y.text-muted.fs-base.ms-3
                    input.form-control.rounded-start(type='text' placeholder='Search marketplace')
// NAV END
// Dashboard header
.page-title-overlap.bg-accent.pt-4
    .container.d-flex.flex-wrap.flex-sm-nowrap.justify-content-center.justify-content-sm-between.align-items-center.pt-2
        .d-flex.align-items-center.pb-3
            .img-thumbnail.rounded-circle.position-relative.flex-shrink-0(style='width: 6.375rem;')
                img.rounded-circle(src='/assets/theme/img/marketplace/account/avatar.png' alt='Createx Studio')
            .ps-3
                h3.text-light.fs-lg.mb-0 Createx Studio
                span.d-block.text-light.fs-ms.opacity-60.py-1 Member since November 2019
        .d-flex
            .text-sm-end.me-5
                .text-light.fs-base Total sales
                h3.text-light 426
            .text-sm-end
                .text-light.fs-base Seller rating
                .star-rating
                    i.star-rating-icon.ci-star-filled.active
                    i.star-rating-icon.ci-star-filled.active
                    i.star-rating-icon.ci-star-filled.active
                    i.star-rating-icon.ci-star-filled.active
                    i.star-rating-icon.ci-star
                .text-light.opacity-60.fs-xs Based on 98 reviews