include _web-base
//- NEW CODE
// Page Title
.page-title-overlap.bg-dark.pt-4
  .container.d-lg-flex.justify-content-between.py-2.py-lg-3
    .order-lg-2.mb-3.mb-lg-0.pt-lg-2
      nav(aria-label='breadcrumb')
        ol.breadcrumb.breadcrumb-light.flex-lg-nowrap.justify-content-center.justify-content-lg-start
          li.breadcrumb-item
            a.text-nowrap(href='/')
              i.ci-home
              | Commercio
          li.breadcrumb-item.text-nowrap
            a(href='#') Shop
          li.breadcrumb-item.text-nowrap.active(aria-current='page') Checkout
    .order-lg-1.pe-lg-4.text-center.text-lg-start
      h1.h3.text-light.mb-0 Checkout
.container.pb-5.mb-2.mb-md-4
  .row
    section.col-lg-8
      // Steps
      .steps.steps-light.pt-2.pb-3.mb-5
        a.step-item.active(href='/cart')
          .step-progress
            span.step-count 1
          .step-label
            i.ci-cart
            | Cart
        a.step-item.active(href='/checkout')
          .step-progress
            span.step-count 2
          .step-label
            i.ci-user-circle
            | Details
        a.step-item.active.current(href='/shipping')
          .step-progress
            span.step-count 3
          .step-label
            i.ci-package
            | Shipping
        a.step-item(href='/payment')
          .step-progress
            span.step-count 4
          .step-label
            i.ci-card
            | Payment
        a.step-item(href='/order-summary')
          .step-progress
            span.step-count 5
          .step-label
            i.ci-check-circle
            | Review

      // Shipping methods table
      .insertAlert
      h2.h6.pb-3.mb-2 Choose shipping method
      .table-responsive
        table.table.table-hover.fs-sm.border-top
          thead
            tr
              th.align-middle
              th.align-middle Shipping method
              th.align-middle Delivery time
              th.align-middle Handling fee
          tbody
            tr
              td
                .form-check.mb-4
                  input#courier.form-check-input(type='radio' name='shipping-method' checked='')
                  label.form-check-label(for='courier')
              td.align-middle
                span.text-dark.fw-medium Courier
                br
                span.text-muted All addresses (default zone), United States &amp; Canada
              td.align-middle 2 - 4 days
              td.align-middle $26.50
            tr
              td
                .form-check.mb-4
                  input#local.form-check-input(type='radio' name='shipping-method')
                  label.form-check-label(for='local')
              td.align-middle
                span.text-dark.fw-medium Local Shipping
                br
                span.text-muted All addresses (default zone), United States &amp; Canada
              td.align-middle up to one week
              td.align-middle $10.00
            tr
              td
                .form-check.mb-4
                  input#flat.form-check-input(type='radio' name='shipping-method')
                  label.form-check-label(for='flat')
              td.align-middle
                span.text-dark.fw-medium Flat Rate
                br
                span.text-muted All addresses (default zone)
              td.align-middle 5 - 7 days
              td.align-middle $33.85
            tr
              td
                .form-check.mb-4
                  input#ups.form-check-input(type='radio' name='shipping-method')
                  label.form-check-label(for='ups')
              td.align-middle
                span.text-dark.fw-medium UPS Ground Shipping
                br
                span.text-muted All addresses (default zone)
              td.align-middle 4 - 6 days
              td.align-middle $18.00
            tr
              td
                .form-check.mb-4
                  input#pickup.form-check-input(type='radio' name='shipping-method')
                  label.form-check-label(for='pickup')
              td.align-middle
                span.text-dark.fw-medium Local Pickup from store
                br
                span.text-muted All addresses (default zone)
              td.align-middle &mdash;
              td.align-middle $0.00
            tr
              td
                .form-check.mb-4
                  input#locker.form-check-input(type='radio' name='shipping-method')
                  label.form-check-label(for='locker')
              td.align-middle
                span.text-dark.fw-medium Pick Up at Cartzilla Locker
                br
                span.text-muted All addresses (default zone), United States &amp; Canada
              td.align-middle &mdash;
              td.align-middle $9.99
            tr
              td
                .form-check.mb-4
                  input#global-export.form-check-input(type='radio' name='shipping-method')
                  label.form-check-label(for='global-export')
              td.align-middle
                span.text-dark.fw-medium Cartzilla Global Export
                br
                span.text-muted.fs-sm All addresses (default zone), outside United States
              td.align-middle 3 - 4 days
              td.align-middle $25.00
            tr
              td
                .form-check.mb-4
                  input#same-day.form-check-input(type='radio' name='shipping-method')
                  label.form-check-label(for='same-day')
              td.align-middle
                span.text-dark.fw-medium Same-Day Delivery
                br
                span.text-muted Only United States
              td.align-middle &mdash;
              td.align-middle $34.00
            tr
              td
                .form-check.mb-4
                  input#international.form-check-input(type='radio' name='shipping-method')
                  label.form-check-label(for='international')
              td.align-middle
                span.text-dark.fw-medium International Shipping
                br
                span.text-muted All addresses (default zone)
              td.align-middle up to 15 days
              td.align-middle $27.00
      // Navigation (desktop)
      .d-none.d-lg-flex.pt-4
        .w-50.pe-3
          a.btn.btn-secondary.d-block.w-100(href='/checkout')
            i.ci-arrow-left.mt-sm-0.me-1
            span.d-none.d-sm-inline Back to Adresses
            span.d-inline.d-sm-none Back
        .w-50.ps-2
          a.btn.btn-primary.d-block.w-100(href='/payment')
            span.d-none.d-sm-inline Proceed to Payment
            span.d-inline.d-sm-none Next
            i.ci-arrow-right.mt-sm-0.ms-1
    // Sidebar
    aside.col-lg-4.pt-4.pt-lg-0.ps-xl-5
      .bg-white.rounded-3.shadow-lg.p-4.ms-lg-auto
        .py-2.px-xl-2
          .widget.mb-3
            h2.widget-title.text-center Order summary
            .productContainer
            
          ul.list-unstyled.fs-sm.pb-2.border-bottom
            li.d-flex.justify-content-between.align-items-center
              span.me-2 Subtotal:
              span.orderSubtotal.text-end
                | $265.
                small 00
            li.d-flex.justify-content-between.align-items-center
              span.me-2 Shipping:
              span.text-end &mdash;
            //- li.d-flex.justify-content-between.align-items-center
            //-   span.me-2 Taxes:
            //-   span.text-end
            //-     | $9.
            //-     small 50
            li.d-flex.justify-content-between.align-items-center
              span.me-2 Discount:
              span.text-end &mdash;
          h3.orderTotal.fw-normal.text-center.my-4
            | $274.
            small 50
          form.needs-validation(novalidate='')
            .mb-3
              input.form-control(type='text' placeholder='Promo code' required='')
              .invalid-feedback Please provide promo code.
            button.btn.btn-outline-primary.d-block.w-100(type='submit') Apply promo code
  // Navigation (mobile)
  .row.d-lg-none
    .col-lg-8
      .d-flex.pt-4.mt-3
        .w-50.pe-3
          a.btn.btn-secondary.d-block.w-100(href='/checkout')
            i.ci-arrow-left.mt-sm-0.me-1
            span.d-none.d-sm-inline Back to Adresses
            span.d-inline.d-sm-none Back
        .w-50.ps-2
          a.btn.btn-primary.d-block.w-100(href='/payment')
            span.d-none.d-sm-inline Proceed to Payment
            span.d-inline.d-sm-none Next
            i.ci-arrow-right.mt-sm-0.ms-1
include _footer